.wp-admin .modal { top: 40px; }

#activate-alert-form { height: 100%; }
.dashboard_page_buoy_activate_alert #wpbody-content,
.dashboard_page_buoy_chat #wpbody-content {
    height: calc(100vh - 32px); /* 32px is height of WP's fixed-position toolbar */
}
.dashboard_page_buoy_chat #wpcontent {
    padding: 0;
}
.dashboard_page_buoy_activate_alert #activate-msg-btn-submit,
.dashboard_page_buoy_activate_alert #schedule-future-alert-btn,
.dashboard_page_buoy_activate_alert #activate-btn-submit {
    background: #d43f3a;
    margin: 10px 0;
}
.dashboard_page_buoy_activate_alert #activate-btn-submit {
    width: calc(100% - 10px);
}
.dashboard_page_buoy_activate_alert #modal-features {
    display: flex;
    height: 25%;
    margin-right: 10px;
}
.dashboard_page_buoy_activate_alert #modal-features button {
    flex-grow: 1;
    margin-left: 10px;
}
.dashboard_page_buoy_activate_alert #modal-features button:first-child {
    margin-left: 0;
}
.dashboard_page_buoy_activate_alert #modal-features img {
    width: 40px; /* width of smallest img, they're SVG, so this is ok */
}
.dashboard_page_buoy_activate_alert #activate-btn-submit {
    height: 75%;
}
.dashboard_page_buoy_activate_alert #activate-btn-submit img,
.dashboard_page_buoy_activate_alert #activate-msg-btn-submit img,
.dashboard_page_buoy_activate_alert #schedule-future-alert-btn img {
    height: 100%;
    max-height: calc(100% - 32px);
    max-width: 100%;
}
.dashboard_page_buoy_activate_alert #crisis-message {
    height: 50vh;
    width: 100%;
}
.dashboard_page_buoy_activate_alert .btn-success {
    width: 100%;
}
#submitting-alert-modal .modal-body {
    text-align: center;
}
#submitting-alert-modal .modal-body .pulse-loader {
    margin: 20px 0;
}

.dashboard_page_buoy_chat #alert-map { margin-bottom: 0; }
.dashboard_page_buoy_chat #map-container,
.dashboard_page_buoy_review_alert #map-container {
    height: 250px;
}
.dashboard_page_buoy_chat #map-container {
     display: none;
}
.dashboard_page_buoy_chat #map,
.dashboard_page_buoy_review_alert #map {
    height: 100%;
}

#wpadminbar #wp-admin-bar-buoy-alerts-menu {
    background: red;
}
.admin-color-sunrise #wpadminbar #wp-admin-bar-buoy-alerts-menu {
    background: #096484;
}
#wp-toolbar > ul > li#wp-admin-bar-buoy-alerts-menu {
    display: list-item; /* always show, even on narrow screens */
}

#incident-media-group.open {
    position: static;
}
#incident-media-group .dropdown-menu {
    top: 148px; /* when the toolbar buttons wrap */
    padding: 1em;
    max-width: 100vw;
}
@media screen and (min-width: 600px) {
    #incident-media-group .dropdown-menu {
        top: 56px;
    }
}
@media screen and (min-width: 360px) and (max-width: 600px) {
    #incident-media-group .dropdown-menu {
        top: 102px;
    }
}
