
# This file tells git what files to ignore when looking at our files.
# Lines that start with '#' are comments.
#
# See https://help.github.com/articles/ignoring-files/ for more info.
#
######################################################################

# Mac OS X makes these files to hold Finder window settings.
# See https://en.wikipedia.org/wiki/.DS_Store for more info.
.DS_Store

# The popular text editor `vi` and its derivatives (like `vim`) make
# files with this extension when auto-saving files being edited.
*.swp

######################################################################
# Common toolchain utilities like package managers, task runners, and
# other such tools typically place configuration files or other stuff
# in the project directory. These aren't actually source code either,
# so we can safely ignore them.
######################################################################

# Bower is a package manager for JavaScript and CSS libraries.
bower_components/

# The node_modules folder is the canonical place where Node.js
# tools place their libraries (called "modules" in Node lingo).
node_modules/

# When `npm` vomits, it logs its errors. We shold never commit those.
npm-debug.log

# The _site folder is where we publish the promo site for this
# project by using Jekyll, a static site generator.
_site/

# Since Jekyll is distributed as a Ruby package (called a Gem), 
# we use Bundler, a Ruby Gems package manager, to configure it.
.bundle/

# Jekyll also caches compiled SASS (CSS), which we don't need.
.sass-cache/

# We also don't want to commit the Gems that Bundler installs
# since they are only useful for developers. But they're kept
# in the same directory we use for other libraries that we do
# want to distribute with the final build, so we only ignore
# Bundler's subdirectory, but not the other directories.
vendor/bundle/

######################################################################
# The next set of file paths relate to developer documentation and are
# automatically generated by running `phpdoc` from this folder.
#
# See
#     https://github.com/meitar/better-angels/wiki/Setting-up-a-development-environment#generating-documentation
# for more info.
######################################################################

# This is a personal documentation generator config file. You can use
# this file to customize the way the project's documentation looks to
# you. See http://phpdoc.org/docs/latest/references/configuration.html
phpdoc.xml

# The developer documentation itself is, by default, written to this
# subfolder. Since it gets automatically generated, we don't want to
# save it in the code repository itself.
docs/
