#wpadminbar #wp-admin-bar-buoy-alerts-menu {
    background: red;
}
.admin-color-sunrise #wpadminbar #wp-admin-bar-buoy-alerts-menu {
    background: #096484;
}
#wp-toolbar > ul > li#wp-admin-bar-buoy-alerts-menu {
    display: list-item; /* always show, even on narrow screens */
}
