---
layout: page
---

<div class="home">

  {% assign pages = site.pages | where: "front-page", true | sort: "front-page-weight" %}
  {% for page in pages %}
  <article id="{{ page.name | split: ".md" | first }}">
    {{ page.content | markdownify }}
  </article>
  {% endfor %}

  {% capture postnum %}{{ site.posts | size | minus: 1}}{% endcapture %}
  {% unless postnum contains '-' %}
  <section id="recent-posts">
      <h1 class="page-heading">Recent posts</h1>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
          {% if forloop.index == 3 %}
            {% break %}
          {% endif %}
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </section><!-- #recent-posts -->
  {% endunless %}

</div>
