<footer class="site-footer">
<span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.project_title }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>

    <span class="site-footer-credits">Thanks to <a href="https://twitter.com/jasonlong">Jason Long</a> for his beautiful <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a>.</span>
</footer>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
// Smooth scroll.
jQuery(function() {
    jQuery('a[href*="#"]:not([href="#"]):not(.carousel-control)').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = jQuery(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                jQuery('html, body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
