<section class="page-header">
    <h1 class="project-name"><a href="{{site.url}}{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a></h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <nav class="site-nav">
        <ul>
            <li><a href="{{ site.github.repository_url }}#readme" class="btn">View on GitHub</a></li>
            <li><a href="{{ site.github.repository_url }}/zipball/master" class="btn">Download .zip</a></li>
            <li><a href="{{ site.github.repository_url }}/tarball/master" class="btn">Download .tar.gz</a></li>
            <li><a href="{{ site.url }}{{ "/docs/" | prepend: site.baseurl }}" class="btn">API docs</a></li>
            {% for page in site.pages %}{% if page.title %}
            <li><a href="{{ site.url }}{{ page.url | prepend: site.baseurl }}" class="btn">{% if page.menu-title == blank %}{{ page.title }}{% else %}{{ page.menu-title }}{% endif %}</a></li>
            {% endif %}{% endfor %}
        </ul>
    </nav>
</section>
