<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="profile" href="http://microformats.org/profile/h-card">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel='stylesheet' id='google_fonts-css' href='//fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700' type='text/css' media='all' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel='stylesheet' id='theme-base-css' href='{{ "/public/themes/flat-bootstrap/theme-base.css" | prepend: site.baseurl }}' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-flat-css' href='{{ "/public/themes/flat-bootstrap/theme-flat.css" | prepend: site.baseurl }}' type='text/css' media='all' />
    <link rel='stylesheet' id='flat-bootstrap-css' href='{{ "/public/themes/link/style.css" | prepend: site.baseurl }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ "/public/css/styles.css" | prepend: site.baseurl }}' type='text/css' media='all' />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />

    <script
        src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"
        integrity="sha256-nxdiQ4FdTm28eUNNQIJz5JodTMCF5/l32g5LwfUwZUo="
        crossorigin="anonymous"></script>
</head>
