html, body {
	height: 100%;
}

.container {
	height: 100%;
}

.row-map {
	height: 50%;
}

.col-xs-8 {
	height: 100%;
}

#map {
	border: inset;
	height: 100%;
	margin-bottom: 50px;
}

.row-user {
	height: 12.5%;
}

.col-xs-12 {
	height: 100%;
}

#help-message {
	font-size: 27px;
	height: 100%;
	text-align: center;
}
#username {
    display: block;
    font-size: 36px;
}

.row-buttons {
	height: 25%;
}

.col-xs-3 {
	height: 100%;
}

.btn {
	vertical-align: bottom;
}
button a { color: inherit; }
