/*
Theme Name: Link
Theme URI: http://xtremelysocial.com/wordpress/link/
Description: Link by XtremelySocial is an adaptation of the "Link" theme by Blacktie.co. It is a modern, fully responsive, "flat" style theme with a nice color palette, big full-width images, and full-width colored sections. The navbar is just a menu button fixed at the top of the page to let your content take center stage. It includes several beautiful header images for businesses, photographers, musicians, writers and you can upload your own as well. For more information go to http://xtremelysocial.com/wordpress/link/.
Author: XtremelySocial and Blacktie
Author URI: http://xtremelysocial.com
Version: 1.3
License: GNU General Public License
License URI: http://www.opensource.org/licenses/GPL-3.0
Template: flat-bootstrap
Template Version: 1.8
Tags: one-column, right-sidebar, left-sidebar, fluid-layout, responsive-layout, custom-background, custom-header, custom-menu, featured-images, featured-image-header, full-width-template, flexible-header, rtl-language-support, theme-options, translation-ready, sticky-post, threaded-comments, light, blue

Link WordPress theme, Copyright (C) 2014 XtremelySocial
Link WordPress theme is licensed under the GPL.
See readme.txt file for license information on components used in this theme.
*/

/* IMPORT the parent theme's stylesheet(s) */
@import url("../flat-bootstrap/style.css");

/* OVERRIDDEN styles from the parent theme's stylesheet(s) */

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}

/* Match link theme and original Bootstrap */
h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

/* Square off our buttons */
.btn {
    border-radius: 0;
}

/* Style cover, section, and content-header images and backgrounds */
.cover-image,
.section-image {
	background-position: center center;
	background-color: #1abc9c;
}
.section-image, 
.section-image-overlay {
	min-height: 400px;
}
/* For larger screens, increase font size and spacing */
@media (min-width: 768px) {
	.cover-image, 
	.cover-image-overlay {
		height: 750px;
		min-height: 750px;
	}
	.section-image, 
	.section-image-overlay {
		height: 480px;
		min-height: 480px;
	}
	.cover-image h1 {
		font-size: 100px;
		font-weight: 500;
	}
}

/* Set initial image background so light text is readable before image loads */
.content-header-image,
.content-header {
    background-color: #1abc9c;
    color: #fff;
}

/* When WordPress admin bar is displayed, move theme menu down below it. Note that the
 * media query here uses the exact breakpoints in WordPress not the breakpoints in this
 * theme. */
/*.navbar-fixed-top { 
	top: 0; 
}*/
body.admin-bar .offcanvas-menu { 
	top: 32px !important; 
}
body.admin-bar #wpadminbar {
    position: fixed;
	border-bottom: 1px solid #080808; /* match our topnav */
}
@media screen and (max-width:782px) {
	body.admin-bar .offcanvas-menu {
		top: 46px !important; 
	}
}

/* Toggle Menu (Offcanvas) */
.offcanvas-menu {
    position: fixed;
    right: -240px;
    width: 300px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
	overflow-y: auto;
}
.offcanvas-menu.menu-open {
    right: 0;
}
.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #1a1a1a;
    width: 240px;
    height: 100%;
	overflow-y: auto;
}
.menu-wrap ul {
	list-style: none;
	padding-left: 0;
}
.menu-wrap ul li {
	margin-left: 0;
}
.offcanvas-menu h1.logo a {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .15em;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}
.offcanvas-menu h1.logo a:hover {
    color: #1abc9c;
}
.offcanvas-menu img.logo {
    margin: 20px 0;
    max-width: 160px;
}
.offcanvas-menu a {
    margin-left: 20px;
    margin-bottom: 15px;
    color: gray;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .1em;
}

.offcanvas-menu ul li {
    text-transform: uppercase;
}

.offcanvas-menu ul li li {
    text-transform: none;
    margin-left: 10px;
}

.offcanvas-menu a:hover {
    color: #fff;
}
.offcanvas-menu a:active {
    color: #fff;
}
.offcanvas-menu a>i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 10px 10px 0;
    padding: 0;
}
.offcanvas-menu p {
    margin-left: 20px;
    margin-right: 20px;
	color: #bdc3c7; /*silver*/
    display: block;
    font-size: 14px;
}
.menu-close {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    color: gray;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: -10px;
    right: 20px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.menu-close:hover {
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
/*
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.body-push-toright {
    left: 200px;
}
.body-push-toleft {
    left: -200px;
}
.offcanvas-menu, .body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
*/
#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/* Social menu icons */
.social-icons i {
	font-size: 30px;
	padding: 20px;
}

/* Make blog titles the size of h2 */
h1.entry-title {
  font-size: 34px;
}

/* Set page description to match Bootstrap H4 */
.page-description {
	font-size: 18px;
  	margin-top: 10px;
  	margin-bottom: 10px;
}

.page-container-fullwidth {
	padding-top: 0;
	padding-bottom: 0;
}

/* Social footer (Facebook, Twitter, etc) */
.social-footer {
    display: block;
    width: 100%
}

.social-footer .container {
    width: 100%
}

.social-footer .col-lg-4, 
.social-footer .col-md-4, 
.social-footer .col-sm-4 {
    margin: 0;
    padding: 15px
}

.social-footer h4 {
    color: #fff
}

.social-footer p {
    color: #fff
}

.social-footer .ml {
    margin-left: 30px
}

.social-footer i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px
}
.social-footer i:hover {
	color: #D5D5D5;
}

/* Contact footer with map and address that is full-width */
.contact-footer {
    background-color: #2f2f2f;
}
.contact-footer h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
.contact-footer p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
    margin-right: 15px;
}
.contact-footer .container {
    width: 100%;
    padding: 0;
}
.contact-footer .col-lg-8,
.contact-footer .col-md-8 {
    margin: 0;
    padding: 0;
}

#mapwrap {
    margin: 0;
    padding: 0;
}

#mapwrap iframe {
	height: 400px;
}

/* Move up the edit link on single pages so it doesn't create an uncolored section */
/*
.page footer.entry-meta {
	margin-bottom: 0px;
	margin-top: -22px;
}
*/

/*.site-credits,*/
.after-footer {
	font-size: 14px; 
	padding-top: 10px;
	padding-bottom: 10px;
}

