.popover-title button {
    position: absolute;
    top: 2px;
    right: 2px;
}

#install-webapp-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border:0;
}
